



/* 조정희 커스텀 */
.treeview .dir > .header{
	font-size: 15px;
	padding: 2px 4px;
}
.treeview .item{
	font-size: 15px;
	padding: 4px 4px;
}
.treeview .item:hover span{
	text-decoration: underline;
}
.treeview .dir .header, .treeview .item, .treeview .items{
	border-width: 1px;
}
.treeview .dir > .header:before, .treeview .item:before{
	margin-right: 4px;
}
.treeview .items {
    padding-left: 16px;
}
.treeview .header > span{
	/* font-weight: 700; */
}
.treeview .header:hover{
}
.treeview .header:hover+.items{
	background-color: #44475a80;
}
#tree-td .system-buttons{
	/* left: 0; */
}
