



/* 조정희 커스텀 */
.treeview .dir > .header{
	font-size: 12px;
	padding: 2px 4px;
    font-family: Menlo, monospace;
}
.treeview .item{
	font-size: 12px;
	padding: 4px 4px;
    font-family: Menlo, monospace;
}
.treeview .item:hover{
	padding: 3.25px 4px;
}
.treeview .item:hover span{
	/* text-decoration: underline; */
    border: dashed 1px #fff;
}
.treeview .dir .header, .treeview .item, .treeview .items{
	border-width: 1px;
}
.treeview .dir > .header:before, .treeview .item:before{
	margin-right: 4px;
}
.treeview .item:hover .dir > .header:before, .treeview .item:hover:before{
	margin-right: 3px;
}
.treeview .items {
    padding-left: 16px;
}
.treeview .header > span{
	/* font-weight: 700; */
}
.treeview .header:hover{
}
.treeview .header:hover+.items{
	background-color: #44475a80;
}
#tree-td .system-buttons{
	left: 0;
}

#main #editor-td .bottom > .tabview > div{
    /* position: absolute; */
    transition: width 0.2s ease-in;
}
#main #editor-td .bottom > .tabview > div:hover{
    /* position: absolute; */
    z-index: 99;
    /* position: fixed;
    width: calc(100% - 64px * 2);
    height: calc(100% - 64px);
    margin: 0 64px;
    left: 0;
    bottom: 0;
    border: solid 1px #fff;
    box-shadow: 0px 0px 64px 8px rgba(0,0,0,1);
    background-color: #282A36; */
    /* padding-top: 32px; */
}
#main #editor-td .bottom > .tabview > div:hover .ace_container{
    /* padding-top: 32px; */
}

#main .ace_status-bar{
    width: 100%;
}
#project-name{
    position: relative;
    left:  36px;
}
.chrome-tabs{
    height: calc(36px + 32px);
}

html[data-multiline-tabs] .chrome-tabs {
    height: calc(var(--chrome-tabs-height) + 8px + 32px);
    max-height: calc(100vh - 100px);
}
html[data-multiline-tabs] #splitter-td:before {
    top: calc(4px + var(--chrome-tabs-height) + 32px);
}

.chrome-tabs .chrome-tabs-content{
    top: 32px;
}
.chrome-tabs-hint{
    transform: translateY(32px);
}
#splitter-td:before {
    content: "";
    background: #282A36;
    position: relative;
    top: calc(32px + 32px);
    height: calc(100% - 32px);
    width: 100%;
    display: block;
    box-shadow: 0 -0.05em rgb(0 0 0 / 50%);
}

#tabs.chrome-tabs.has-system-buttons{
    padding: 4px 12px;
}


#main .ace-tm .ace_print-margin{
    display: none;
}


#main .ace-tm .ace_selection {
	background-color: rgba(255,255,255,0.25);
    border-bottom: solid 1px rgba(255,255,255,0.5);
}
#main .ace-tm .ace_selected-word {
	background-color: rgba(0,255,255,0.125);
    border: dashed 1px rgba(0,255,255,1);
}