



/* 조정희 커스텀 */
.treeview .dir > .header{
	font-size: 15px;
	padding: 2px 4px;
}
.treeview .item{
	font-size: 15px;
	padding: 4px 4px;
}
.treeview .item:hover span{
	text-decoration: underline;
}
.treeview .dir .header, .treeview .item, .treeview .items{
	border-width: 1px;
}
.treeview .dir > .header:before, .treeview .item:before{
	margin-right: 4px;
}
.treeview .items {
    padding-left: 16px;
}
.treeview .header > span{
	/* font-weight: 700; */
}
.treeview .header:hover{
}
.treeview .header:hover+.items{
	background-color: #44475a80;
}
#tree-td .system-buttons{
	/* left: 0; */
}

#main #editor-td .bottom > .tabview{
    /* position: absolute; */
    transition: width 0.2s ease-in;
}
#main #editor-td .bottom > .tabview:hover{
    /* position: absolute; */
    position: fixed;
    width: calc(100% - 64px * 2);
    margin: 0 64px;
    height: 100%;
    left: 0;
    z-index: 99;
    border: solid 1px #fff;
    box-shadow: 0px 0px 64px 8px rgba(0,0,0,1);
}

#main #editor-td .bottom > div{
    margin-left: auto;
}